{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./"
        ]
      }
    ]
  ]
}
