{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],

  // @Note: add this
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": "./",
        "alias": {
          "src": "./src",
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
